@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>DashBoard</h2>
    <ul>
        <li> @Html.ActionLink("Case Study", "CaseStudy")</li>
        <li> @Html.ActionLink("Generic Type", "GenericType")</li>
    </ul>
</div>

